{% extends 'layout.html' %}

{% block body %}
  <head>
    <style>
    table, th, td {
        border: 1px solid black;
        empty-cells: hide;
    }
    
    th, td {
    padding: 15px;
    }
    </style>
  </head>

  <table style="margin-left: 300px">
     <thead>
        <td>ExamID</td>
        <td>Course Number</td>
        <td>Subject</td>
        <td>Exam Title</td>
        <td>Semester</td>
        <td>Open File</td>
     </thead>
     {% for Rexam in Rexams %}
      <tr>
          <td>{{Rexam["ExamID"]}}</td>
          <td>{{Rexam["CourseNum"]}}</td>
          <td>{{Rexam["Subj"]}}</td>
          <td>{{Rexam["ExamTitle"]}}</td>
          <td>{{Rexam["Semester"]}}</td>
          <td><a href="/return-file/{{Rexam["ExamID"]}}{{Rexam["Extension"]}}" target="blank"><button class ='btn btn-default'>Open File</button></a></td>
      </tr>
     {% endfor %}
  </table>
{% endblock %}